/* header.css */
.navbar.navbar-expand-lg {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-brand img {
  max-height: 55px;
  height: 55px;
  padding-right: 0px;
}

.navbar {
  background-color: #003300 ;
}

.navbar-title {
  padding-left: 10px;
}

#home-content {
  transition: opacity 0.3s ease-out;
}
