/* index.css */
body {
    color: white;
    background-image: url("media/UltraDeepField.jpg");
    background-size: cover; /* This makes the image cover the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
    background-position: center; /* Centers the background image */
  }

.quarto-title > h1.title {
  opacity: 0 !important;
}